TestWeather/Pods/Pods.xcodeproj/xcuserdata/szymonswietek.xcuserdatad/xcschemes/xcschememanagement.plist
TestWeather/TestWeather.xcodeproj/xcuserdata/szymonswietek.xcuserdatad/xcschemes/xcschememanagement.plist
TestWeather/TestWeather.xcworkspace/xcuserdata/szymonswietek.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
